// .scrollbar-hide::-webkit-scrollbar {
//     display: none;
// }

// .scrollbar-hide {
//     -ms-overflow-style: none; /* IE and Edge */
//     scrollbar-width: none; /* Firefox */
// }

.new-topic {
    transition: max-width 1s !important;
    min-width: 32px !important;
    max-width: 32px;
    height: 32px;
    padding-left: 5px !important;
    padding-right: 25px !important;
    justify-content: flex-start !important;
    text-wrap: nowrap;
    &:hover {
        max-width: 180px !important;
    }
}

/* Ensure no white space in chat area */
.no-white-space {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    box-sizing: border-box !important;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

.attachment-tag {
    max-width: 240px !important;
    span:nth-child(3) {
        display: none;
    }
}

.grey-background {
    background-color: #f0f0f03d;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.attachment-tag-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.chat-container {
    max-block-size: 75vh;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
    margin: 0;
    padding: 0;
}

.chatMessagesContainer, .questionContainer {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    width: 100%;
    box-sizing: border-box; /* Include padding in width calculation */
    max-width: 100%; /* Ensure it doesn't exceed container width */
    margin: 0;
}