{
  "Logging": {
    "LogLevel": {
      "Default": "Trace",
      "Microsoft.AspNetCore": "Trace"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "AppConfig": "https://<app-config-name>.azconfig.io"  // Replace with the Azure App Configuration endpoint URL
  }
}
  
